.CreateUser {
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  flex: 1;
  min-height: 560px;
}

.CreateUserForm {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--page-color);
  border: var(--border-table);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.CreateUserForm label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.CreateUserForm input,
.CreateUserForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--text-size);
}

.CreateUserForm input:focus,
.CreateUserForm select:focus {
  outline: none;
  border-color: var(--button-color);
}

.CreateUserForm img {
  max-width: 100%;
  margin-top: 15px;
}

.CreateUserForm button[type='submit'] {
  background-color: var(--button-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.CreateUserForm button[type='submit']:hover {
  background-color: var(--hoverbtn-color);
}
