.Footer {
   text-align: center;
   padding: 20px;
   font-size: 14px;
   border-top: 1px solid #ddd;
   font-family: 'Montserrat', sans-serif; 
   font-size: 16px;
   color: white;
   background-color: #1a1a1a;

  }

  
  
